@tailwind base;
@tailwind components;
@tailwind utilities;

li:hover .hoverTarget {
    filter: brightness(50%);
    cursor: pointer;
    transition: all 0.3s;
}

label:hover .upload-text, label:focus-within .upload-text {
    color: #9CA3AF; /* Lighter text for visibility */
  }

  .button-dark {
    background-color: #4F46E5; /* Example button color */
    color: #ffffff;
  }
  
/* Change the text color when label is focused (this might be useful for keyboard users) */
/* label:focus-within .upload-text {
    color: #4F46E5;
} */

@keyframes spin-fast {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-spin-fast {
  animation: spin-fast 0.3s linear infinite; /* 0.5s is the duration of the animation; decrease this value to make it spin faster */
}

.hover-inner-shadow:hover {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

body {
  background-color: #1C1C1C;
}

.image-models-container {
  overflow-y: hidden;
}

/* Styles for screens smaller than 768px */
@media screen and (max-height: 768px) {
  .image-models-container {
    overflow-y: auto;
  }
}

li {
  list-style-type: square;
}